@import "../../styles/variables.scss";
@import "../../styles/fonts.scss";

li {
    &:hover {
        span {
            transition: all .1s ease-in-out;
            margin-left: 1rem !important;
            transition: all .1s ease-in-out;
        }
    }
}

.width-100p {
    width: 100% !important;
    transition: width 30ms ease-in-out;
    background: red;
}

.width-6-5rem {
    width: 6rem!important;
    transition: width 30ms ease-in-out;
    background: red;
}

.sideNavContainer {
    @include center-center();
    user-select: none;
    position: relative;
    z-index: 9;
    width: fit-content;
    height: calc(100vh - 6.6rem);
    left: 0px;
    background-color: $theamColorTrans;
    border-right: 1px solid $theamText;
    backdrop-filter: blur(5px);

    .sideNavCloser {
        height: 100%;
        width: 100%;

        .sideNav-bar-container {
            position: relative;

            .sideNav-bar-closer {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                ._btn {
                    cursor: pointer;
                }
            }
        }

        .sideNav-mainContent-container {
            @include center-center();
            position: relative;
            height: calc(100% - 4.4rem - 4.7rem);
            align-items: baseline;

            .sideNav-mainContent-closer {
                @include center-center();
                align-items: baseline;
                position: relative;
                height: fit-content;
                width: 100%;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0;
                    margin: 2rem 0rem;
                    width: 100%;

                    .listWrap {
                        width: 100%;

                        li {
                            list-style: none;
                            color: #fff;
                            margin-bottom: 1px;
                            transition: all .2s ease;

                            &:hover {
                                i {
                                    color: rgba(255, 255, 255, .7) !important;
                                }
                            }

                            i {
                                font-size: 2rem;
                            }

                            span {
                                margin-left: .5rem;
                                font-family: 'Nunito', sans-serif;
                                font-size: 1.5rem;
                                letter-spacing: 1px;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

._btn {
    width: fit-content;
    height: fit-content;
    padding: 1rem;

    i {
        font-size: 2rem;
    }
}

.listBtn {
    padding: 1.2rem 2rem;
    background: $theamTextHovered;
    cursor: pointer;
}

.noText {
    display: none;
}

.listNoPadding {
    @include center-center();
    padding: 1.2rem;
    width: 100% !important;
    transition: all .2s ease;
}

.listWrapOuter {
    li {
        color: #fff;
        list-style: none;

        &:hover {
            i {
                color: rgba(255, 255, 255, .7) !important;
            }
        }

        i {
            font-size: 2rem;
        }

        span {
            margin-left: .5rem;
            font-family: 'Nunito', sans-serif;
            font-size: 1.5rem;
            letter-spacing: 1px;
            font-weight: 700;
        }
    }
}

// IEBody styles starts here
.bg-custom {
    background: #032325 !important;
    box-shadow: 0px 5px 10px #23d2dd, 0px 5px 10px #23d2dd;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: all .3s ease-in;
}

// NewQuize - component
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: linear fade-in .5s;
}

.animation-delay-5 {
    animation-delay: .5s;
}

#someInstruction {
    user-select: none;
    @include center-center();
    border-bottom: 1px solid $theamColorTrans;
    margin: 0rem 3rem 2rem 3rem;

    div {
        @include center-center();
        flex-direction: column;
        margin: 1rem 0rem;

        p {
            color: #fff;
            font-family: 'Nunito', sans-serif;
            font-size: 4rem;
            margin: 0px;
            line-height: 1;
        }

        span {
            @include center-center();
            width: fit-content;
            font-family: 'Nunito', sans-serif;
            font-size: 4rem;
            flex-direction: column;
            line-height: 1;

            &::after {
                content: "";
                background: #fff;
                height: .3rem;
                width: 3rem;
                border-radius: 1rem;
                margin-top: .5rem;
            }
        }
    }

    .instruction {
        ul {
            li {
                list-style: none;
                font-family: 'Dosis', sans-serif;
                letter-spacing: 1px;
                font-size: 1.5rem;
            }
        }
    }
}

#createQuizeMain {
    // border: 1px solid #fff;
    height: 100% !important;
    width: 100% !important;

    .createQuizeMain-closer {

        .row:nth-child(1) {
            @include center-center();
            justify-content: flex-end;
            padding: 0rem 1rem;
            justify-content: space-between;

            .quizeCode {
                user-select: none;
                border: 1px solid $theamText;
                background-color: $theamColorTrans;
                width: fit-content;
                padding: .3rem 2rem;
                border-radius: .5rem;
                cursor: pointer;

                span {
                    font-size: 1.5rem;
                    font-family: 'Nunito', sans-serif;
                    font-style: italic;
                    letter-spacing: 1px;

                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

.header-2 {

    p {
        user-select: none;
        font-size: 3rem;
        font-family: 'Dosis';
        width: fit-content;
        border-bottom: 3px solid $theamColorTrans;
        padding-right: 2rem;
    }
}

.theamText {
    color: $theamText;
    font-size: 3.5rem !important;
    font-weight: bolder;
}

#modal2 {
    font-size: 162%;
    user-select: none;

    .modal-title {
        font-size: 130% !important;
        font-family: 'Nunito', sans-serif;
    }

    .modal-body {
        font-family: 'Dosis';
        font-weight: bold;
    }

    .modal-footer {
        button {
            font-size: 100% !important;
        }
    }
}

.greeting-font {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Dancing Script', sans-serif;
}

.disable-btn {
    opacity: .5;
}

.cursor-pointer {
    cursor: pointer !important;
}


// draft.js style starts here
.font-size-150p {
    font-size: 150% !important;
}

.font-size-17px {
    font-size: 1.7rem !important;
}

.q-card-tag-text {
    font-size: 1.45rem !important;
}

.q-card-subtitle-text {
    font-size: 1.3rem;
}

.q-card-main-container {
    background: $theamUltraThin !important;
    height: fit-content;
    width: fit-content;
    box-shadow: 0px 0px 3px 1px $theamColorTrans;
    border-radius: 3px;
}

.background-transparent {
    background-color: transparent !important;
    border: none;
}