@import "../../styles/variables.scss";

.question-form-main {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 2rem 1rem !important;
    box-shadow: 0rem 0rem .3rem $theamText;

    .question-form-closer {

        form {
            .row:first-child {
                @include center-center();

                .question-form-input-group {
                    @include center-center();

                    textarea {
                        background: $theamColorTrans;
                        font-size: 1.5rem;
                        letter-spacing: 1px;

                        &:focus {
                            box-shadow: none;
                        }

                        &::placeholder {
                            color: $theamTextHovered;
                        }

                        // adding up beter scroll bar
                        &::-webkit-scrollbar {
                            width: .8rem;
                        }

                        &::-webkit-scrollbar-track {
                            background: $theamColorTrans;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius: 2px;
                            background: $theamText;
                            box-shadow: inset 0 0 3px rgba(0, 0, 39, .5);

                            &:hover {
                                background: $theamTextHovered;
                            }
                        }
                    }
                }
            }

            .row:last-child {
                justify-content: space-between;
                padding: 0rem .4rem;

                .set-box {
                    @include center-center();
                    border: 1px solid $theamColorTrans;
                    border-radius: .5rem;
                    margin-top: 2rem;
                    padding: 0rem 0.5rem;
                    width: 38%;

                    .set-box-closer {
                        @include center-center();
                        flex-direction: column;

                        .set-box-header {
                            @include center-center();
                            justify-content: flex-start;
                            width: 90%;
                            height: 0px;

                            span {
                                user-select: none;
                                font-size: 1.5rem;
                                font-family: 'Nunito';
                                position: relative;
                                top: -1.5rem;
                                letter-spacing: 1px;
                                background: $theamColor;
                                padding: 0rem 1rem;
                            }
                        }

                        .option-btn-group {
                            @include center-center();
                            flex-wrap: wrap;

                            input {
                                margin: 0.5rem;
                                padding: 0.5rem 0rem 0.5rem 1rem;
                                font-size: 1.5rem;
                                background-color: $theamColorTrans;
                                border: 0px;
                                border-radius: .3rem;
                                color: #fff;
                                border: 1px solid $theamText;

                                &:focus {
                                    outline: 0;
                                }

                                &::placeholder {
                                    color: $theamTextHovered;
                                    padding: .3rem;
                                }
                            }
                        }
                    }
                }

                .set-box:last-child {
                    @include center-center();
                    flex-direction: column;

                    .option-btn-group:first-child {
                        width: 100%;

                        label {
                            color: #fff;
                            font-size: 1.4rem;
                            font-family: 'Nunito', sans-serif;
                            margin-right: 1rem;
                        }

                        input[type=number] {
                            border: 0px;
                            background: $theamColorTrans;
                            padding: .5rem 1rem;
                            max-width: 6rem;
                            border-radius: 3px;
                            border: 1px solid $theamText;
                            color: #fff;
                            font-size: 1.4rem;

                            &:focus {
                                outline: 0;
                            }
                        }
                    }

                    .option-btn-group:nth-child(2) {
                        width: 100%;
                        display: flex;
                        margin: 1rem 0rem;

                        label {
                            font-size: 1.4rem;
                            font-family: 'Nunito';
                            user-select: none;
                        }

                        input[type=checkbox] {
                            margin: 0rem 0.5rem;
                            width: 1.8rem;
                        }
                    }

                    .option-btn-group:nth-child(3) {
                        width: 100%;
                        @include center-center();
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }
}

.width-38p {
    width: 38% !important;
}

.width-18p {
    width: 18% !important;
}

.border-0 {
    border: 0px !important;
}

.inp-type-file {
    font-size: 1.3rem !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    width: 10rem !important;
    color: $theamColor;

    &:hover {
        color: $theamColor;
    }
}

.font-size-1-3 {
    font-size: 1.3rem !important;
}

.ml-auto {
    margin-left: auto;
}

#totalNumberOfQuestion {
    letter-spacing: 1px;
    span {
        font-size: 2rem;
        font-family: 'Dosis'
    }
}

.font-size-2 {
    font-size: 2.3rem !important;
}