@import "./fonts.scss";
@import './variables.scss';

body {
    background: $theamColor;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

nav {
    z-index: 999;
    backdrop-filter: blur(5px);
}

textarea {
    backdrop-filter: none !important;
}

.bg-theam {
    background-color: $theamColor;
}

.navbar-theam {
    background: $theamColorTrans;
    padding: 0rem 3rem;
}

.theam-text {
    color: $theamText;
}

.date {
    font-size: 1.5rem;
}

.report-problem-btn {
    border: 2.5px solid $theamText;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

i {
    color: $theamText;
}

.btn-login-custom {
    position: relative;
    padding: 0.2rem 1rem;
    font-size: 1.3rem;
    color: $theamColor;
    font-weight: 500;
    border: 1px solid #02838c;
    color: #02838c;

    &:hover {
        background: #02838c;
        border: 1px solid #fff;
        color: #fff;
    }
}

.custom-tooltip-btn:hover .custom-tooltip {
    display: block !important;
    transition: all .3s ease-in;
}

.custom-tooltip {
    position: absolute;
    display: none;
    color: $theamText;
    margin-right: 22.8rem;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    font-size: 1.5rem;
    box-shadow: 1px 1px 3px $theamColor,
        -1px -1px 3px $theamColor;
    font-weight: 500;
    transition: all .3s ease-in;
    width: 19.15rem;
    background-color: $theamColor;
}

.custom-tooltip-copyText {
    border: 1px solid;
    right: 40rem;
    top: 8.3rem;
    box-shadow: inset 0px 0px 3px #abcd, inset 0px 0px 3px #abcd;
    margin-right: 0;
}

.top-right-random-desine-custom {
    position: absolute;
    height: auto;
    width: 60%;
    top: -21rem;
    right: -15rem;
    z-index: -1;
}

.accountAccess-card-img-body {
    height: fit-content;
    background-image: url('../storyset//accessControl.svg');
    background-size: cover;
    background-position: center center;
    min-height: 50rem;
    max-height: 80vh;
    border-radius: 25%;
}

.acc-acess-text-box-left {
    font-family: 'Nunito', sans-serif;

    .acc-acess-text-box-1 {
        color: $theamText;
        font-weight: 800;
        font-size: 5rem;

        span {
            color: transparent;
            -webkit-text-stroke: 1px $theamText;
        }
    }
}

.f-size-3 {
    font-size: 3rem !important;
}

.custom-btn,
.custom-btn2 {
    background: transparent;
    border: 1px solid $theamText;
    font-size: 2.5rem;
    color: $theamColor;
    background-color: $theamText;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    border-radius: 3px;
    transition: all .3s ease-in;
}

.custom-btn:hover {
    color: $theamText;
    background-color: $theamColor;
    transition: all .3s ease-in;
}

.custom-btn2 {
    color: $theamText;
    background-color: $theamColor;
}

.custom-btn2:hover {
    color: $theamColor;
    background-color: $theamText;
    transition: all .3s ease-in;
}

.suggestion-text {
    font-family: 'Dosis', sans-serif;

    p {
        color: var(--bs-light);
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
}

.no-text-decor {
    text-decoration: none !important;
}

.custom-row {
    width: 55%;
}

.width-50 {
    width: 50% !important;
}

.width-100 {
    width: 100%;
}

#loginTabContent {
    border: 1px solid $theamText;
}

.nav-tabs .nav-link {
    border-radius: 2px;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

#myTab {
    border-bottom: 1px solid $theamText;
}

.nav-tabs .nav-item .active {
    background: $theamColorTrans;
    border-color: $theamText;
    border-bottom: 0px;
    color: #fff;
}

.nav-tabs .nav-item:hover,
.nav-tabs .nav-item:focus {
    border-color: $theamText !important;
}

.custom-row {
    background: #ffffff1a;
    padding: 3rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
}

.input-group {
    span {
        display: none;
    }

    input {
        border: none;
        font-size: 2rem;
        width: 100%;
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        background: $theamColorTrans;
        backdrop-filter: blur(5px);
        box-shadow: 1px 1px 3px $theamText,
            -1px -1px 3px $theamText;
        color: #fff;

    }

    input:focus {
        outline: none;
    }

    input[type=submit] {
        &:hover {
            top: 3px;
            box-shadow: 0rem .2rem 0rem $theamText;
        }

        position: relative;
        margin: 3rem 0rem;
        box-shadow: 0rem .5rem 0rem $theamText;
    }

    i {
        position: absolute;
        top: 3rem;
        right: 3rem;
        font-size: 1.8rem;
    }
}

#loginTabContent {
    border-top: 0px !important;
    background-color: $theamColorTrans;
}

.loginForm input {
    border-radius: 5px !important;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
}

.input-group-label {
    font-size: 1.5rem;
    color: #fff;
    position: relative;
    top: 3rem;
    left: 2.5rem;
    height: 2rem;
    transition: all .1s ease-in;
}

.input-group {
    &:focus-within {
        .input-group-label {
            top: 1rem;
            left: 1.5rem;
            font-size: 1.2rem;
            letter-spacing: 1px;
            z-index: 1;
            padding: 0rem 1rem;
            background-color: $theamColorTrans;
            transition: all .1s ease-in;
        }
    }
}

.no-text {
    display: none;
}

.no-text-reverse {
    position: relative;
    height: 2rem !important;
}

.pass-eye-color {
    color: rgba(255, 255, 255, .8)
}

.modal-title {
    user-select: none;
}

// profile modal custom css starts here
.profileTagText {
    font-size: 1.5rem;
    padding: 0.1rem 1rem;
    background-color: #02838c;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-radius: .5rem;
    cursor: default;
    user-select: none;
}

.profileModal-closer {
    @include center-center();

    .profile-naviation-btn {
        @include center-center();
        flex-wrap: wrap;

        .btnGroup {
            @include center-center();
            border: 1px solid #02838c;
            color: #02838c;
            border-radius: .5rem;
            margin: 1rem;
            width: fit-content;
            font-size: 1.3rem;
            font-weight: 650;
            cursor: pointer;
            user-select: none;

            .actual-numbers {
                @include center-center();
                min-width: 1.8em;
                padding: 0rem 1rem;
                height: 1rem;
                border-right: 1px solid #02838c;
            }

            .btn-name {
                padding: .5rem 1rem;
            }
        }
    }
}

// home page css starts here
.homeLeft {
    @include center-center();
    user-select: none;

    .left-closer {
        .homeHeader {
            span {
                font-family: 'Nunito', sans-serif;
                letter-spacing: 1px;
                font-size: 4rem;
                font-weight: 800;
                line-height: 4rem;
            }

            p {
                font-family: 'Dosis', sans-serif;
                font-size: 2rem;
                letter-spacing: 1px;
                line-height: 2rem;
            }
        }

        .btn-group {
            form {
                .input-group {
                    label {
                        &::before {
                            content: "";
                            position: absolute;
                            left: 10px;
                            top: 0;
                            bottom: 0;
                            width: 20px;
                            background: url(../storyset/keyboard.svg) center / contain no-repeat;
                            z-index: 1;
                            margin-left: 1.5rem;
                        }
                    }

                    input {
                        &:focus {
                            border-color: #fff;
                        }

                        border: 1px solid $theamText;
                        padding-left: 4rem !important;
                        border-radius: 2px !important;
                        font-size: 1.3rem !important;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.homeRight {
    min-height: calc(100vh - 10rem);
    user-select: none;
    width: 60%;

    .right-closer {

        .quize-animate-show {
            background: url('../storyset//quiz-show-animate.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: calc(100vh - 10rem);
        }
    }
}


.btn-2m {
    font-size: 2rem;
}

.join-btn-home {
    button {
        border: none;
        background: none;
        font-size: 1.5rem;
        color: $theamText;
        font-weight: 500;
        letter-spacing: .5px;
    }
}

.homeLoginDescription {
    font-size: 1.6rem;

    .description-link {
        text-decoration: none;
    }
}

.custom-register-btn {
    transition: filter .2s ease-in;
}

.custom-disable-btn {
    filter: contrast(0.3);
    transition: filter .2s ease-in;
}

// About us styling starts here
.about-us-body-text {
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;

    box-shadow: 0px 0px 3px $theamTextHovered;
    border-radius: 5px;
    padding: 1rem;
}

.process-steps {
    background: rgb(255 255 255 / 15%);
    padding: 0rem 0.5rem;
    border-radius: 3px;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.custom-input-2 {
    border: 1px solid rgba(1, 70, 75, 0.4901960784) !important;
    box-shadow: none;
    width: 100%;
    padding: 0.3rem 1rem;
    font-size: 1.6rem;
    border-radius: 3px;
    background-color: $theamColorTrans;
    color: #fff;

    &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px #ffffff1a !important;
    }
}